<a href="https://colab.research.google.com/github/JahnviShukla09/Loops-in-Python/blob/main/Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 7
##Title: Loops in Python
##Jahnvi Shukla
##PRN: 25070123055
##ENTC A3

## While Loops

In [ ]:
#print numbers 1 to 5
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
#print numbers till number input by user
num = int(input("Enter number: "))
i=1
print("Numbers till", num,"are:", end=" ")
while i<=num:
  print(i,end= " ")
  i=i+1

Enter number: 9
Numbers till 9 are: 1 2 3 4 5 6 7 8 9

In [ ]:
# factorial of a number entered by user
fact = 1
num = int(input("Enter number to find factorial: "))
while num>0:
  fact*=num
  num-=1
print()
print("Factorial: ", fact)

Enter number to find factorial: 12

Factorial:  479001600

In [ ]:
#Fibonacci series using while loop
n= int(input("Enter number till which you want to print fibonacci series: "))
a=0
b=1
next=0
i=1
print()
while i<=n:
  print(next, end=" ")
  i+=1
  a,b=b,next
  next=a+b
print()

Enter number till which you want to print fibonacci series: 7

0 1 1 2 3 5 8

In [ ]:
#reverse a number
num=int(input("enter a number to be reversed: "))
rev = 0
print()
while num>0:
  i=num % 10
  rev=rev*10 + i
  num//=10
print("Reversed number: ", rev)

enter a number to be reversed: 6734

Reversed number:  4376

In [ ]:
#check palidrome number and string
num=input("enter a number or string: ")
rev = num [::-1]
print()
if num==rev:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

enter a number or string: manan

It is not a palindrome

In [ ]:
#count digits in a number
num=int(input("enter a number to count digits: "))
count=0
print()
while num>0:
    num//=10
    count+=1
print("Number of digits are: ", count)

enter a number to count digits: 532987

Number of digits are:  6

##Break Statement

In [ ]:
#exit loop when i is 3
i=1
while i<=6:
  print(i)
  if i==3:
    break
  i=i+1

1
2
3

In [ ]:
#search an element in a list
nums=[25070123054, 25070123058, 25070123001, 25070123154, 25070123078, 25070123051, 25070123060, 25070123097, 25070123151,25070123055]
key=int(input("Enter PRN : "))
i=0
while i < len(nums):
 if nums[i]==key:
  print("PRN found at position : ",i+1)
  break
 i=i+1
else :
 print("PRN not found")

Enter PRN : 25070123054
PRN found at position :  1

In [ ]:
#Print numbers from 1 to 10 (skip 5)
i = 0
while i<10 :
  i+= 1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#Print only odd numbers ( 1 to 10)
i = 0
while i<10:
  i+=1
  if i % 2 == 0 :
    continue
  print(i)

1
3
5
7
9

In [ ]:
#Print only even numbers ( 1 to 10)
i = 0
while i<10:
  i+=1
  if i % 2 != 0 :
    continue
  print(i)

2
4
6
8
10

## For Loops

In [ ]:
# print numbers 1 to 6
for i in range(1,7):
  print(i, end= " ")

1 2 3 4 5 6

In [ ]:
# print ven numbers from 1 to 10
for i in range (2,11,2):
  print(i,end=" ")

2 4 6 8 10

In [ ]:
#Sum of first N numbers
x = int(input("Enter X: "))
total = 0

for i in range(1, x + 1):
    total +=i
print("Sum= ", total)

Enter X: 6
Sum=  21

In [ ]:
#Nested for loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3*3 matrix display
A = [ [1,2,3],
      [4,5,6],
      [ 7,8,9] ]
for i in range(3):
  for j in range(3):
    print(A[i][j], end= " ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Multiplication of two 3*3 Matrices (Most important)
A = [ [1,2,3] , [4,5,6] , [7,8,9]]
B = [ [9,8,7] , [6,5,4] , [3,2,1]]

result = [ [0,0,0] , [0,0,0] , [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("Product of matrices is: ")
for row in result:
    print(row)

Product of matrices is:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [ ]:
#Accept three digits and print all possible combinations
n1=1
n2=2
n3=3
n=[n1,n2,n3]
#123,132,213,231,321,312
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (n[i] != n[j] and n[j] != n[k] and n[k] != n[i]):
        print(n[i], n[j], n[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#Armstrong number (153 370 371 407)
# 153= 3 digits= cube of each digits and addition= 1+ 125+ 27= 153
num= 1634
total = 0
for digit in str(num):
  total += int(digit) ** len(str(num))

if total == num:
  print("It is an Armstrong number")
else:
  print("It is not an Armstrong number")

It is an Armstrong number

In [ ]:
#check whether a number is prime or not
num = int(input("Enter a number: "))
if num % 2 !=0:
   print("number is prime")
else:
    print("number is not prime")

Enter a number: 3
number is prime

In [ ]:
#check whether a number is prime or not
for num in range(2, 50):
  for i in range(2, num):
    if num % i == 0:
      break
  else:

    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#To print inverted pyramid
n=5
for i in range(n): #0,1,2,3,4
  print(i*' ', (n-i)* ' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
#Right angle triangle
for i in range (5,0,-1):
  print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pyramid pattern
rows=5
for i in range(1,rows+1):
  print(" "* (rows-i), "* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [2]:
#Floyd's triangle
num = 1
for i in range(1,5):
 for j in range(i):
  print(num, end=" ")
  num = num + 1
 print()

1
2 3
4 5 6
7 8 9 10